extends layout

block content
  #page-wrapper.clearfix
    h1 Web Audio Synth
    p Frequency:
      span#frequency n/a
    p Volume:
      span#volume n/a
  script(src='/js/tuna.js')
  script(src='/js/synth.js')
