doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css')
    script(data-main="js/main.js", src="bower_components/requirejs/require.js")

  body
    canvas#visualizer
