html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  background-color: #333333;
  color: #dcdccc;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#visualizer {
    background: #333333;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


h1 {
    font-weight: normal;
}

p {
    line-height: 1.8rem;
}

.slider {
  width: 300px;
  height: 10px;
}

#help {
  position:absolute;
  bottom:5px;
  right:5px;
  z-index: 10;
}

#myModal .in {
  position:absolute;
  z-index: 10;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  width: 600px;
  background: #6f6f6f;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: width 1s ease-in-out 1s linear;
  -moz-transition: width 1s ease-in-out 1s linear;
  -ms-transition: width 1s ease-in-out 1s linear;
  -o-transition: width 1s ease-in-out 1s linear;
  transition: width 1s ease-in-out 1s linear;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 600px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #709080;
}

.pace.pace-inactive {
  display: none;
}
